/* Your custom css code goes here */

.section-heading h2 {
    line-height: 30px;
    font-size: 30px;
    font-weight: 300;
  }

  .probootstrap-navbar .navbar-brand {
    padding-top: 10px;
    padding-bottom: -20;
    background: url(../img/balamaga2_logo.png) no-repeat left 100%;

  }

.probootstrap-flex-block {
    margin-top: -210px;
  }

.probootstrap-section.probootstrap-section-colored {
 
  background-image: url("img/balamaga_bb.jpg")
}

.probootstrap-section {
  padding: 5em 0;
  position: relative;
}

.hero-text-heading, .probootstrap-hero h1, .flexslider .probootstrap-heading {
  font-size: 42px;
  line-height: 54px;
}

#balamaga3_logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: -15px;
}

.probootstrap-hero.probootstrap-hero-colored {
  background: #6a41ed;
}

.navbar-brand {
  position: relative;
  width: 60px;
  height: 70px;
 
}